<div>
  <button (click)="calculateExpenses()">Calculate Expenses</button>
  <div *ngIf="stateService.state.amountsOwedVisible">
    <ul>
      <li *ngFor="let balance of stateService.state.amountsOwed">{{balance.studentName}} {{balance.type == 'owes' ? 'owes' : 'is owed'}} {{balance.amount | currency : 'USD'}}</li>
    </ul>
  </div>

  <form [formGroup]="newStudentForm">
    <h3>Add Student</h3>
    <label for="studentName">
      Student Name
      <input type="text" name="studentName" id="studentName" formControlName="name">
    </label>
    <button (click)="addStudent()">Add Student</button>
  </form>
  <div class="student-expenses-list">
    <app-student-expenses *ngFor="let student of stateService.state.students; let i = index;" 
                          [student]="student"
                          [index]="i"></app-student-expenses>
  </div>
</div>